body {
    background: #000000;
    margin: auto;
}



.rainbow{
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10vw;
    text-align: center
}

p{
    text-align:center;

}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
    color: rgb(4, 179, 223);
}
.source{
    color: rgb(4, 179, 223)
}

.info{
    border: 1px solid rgb(4, 179, 223);
    width: 600px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 20px;
    color: goldenrod;
    padding: 0px;
}





